.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

img{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.taxonomy-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 995px){
    .image-container{
        /* height: 80%; */
        width: 75%;
    }
}